
*.db_info
*.flock
*.qpf
*.qsf
*.bak
*.qmsg
*.cdb
*.hdb
*.xml
*.rdb
*.kpt
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.bpm
*.logdb
*.sci
*.ddb
*.tmw_info
*.json
*.dpi
*.hb_info
*.sig
incremental_db/README
*.done
*.rpt
*.summary
*.nvd
